/* SingleContent.css */

.media {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 5px;
  margin: 5px 0;
  background-color: #282c34;
  border-radius: 10px;
  position: relative;
  font-family: "Montserrat", sans-serif;
}

.media:hover {
  background-color: white;
  color: black;
}

@media (max-width: 550px) {
  .media {
    width: 46%;
  }
}

.poster {
  border-radius: 10px;
}

.title {
  width: 100%;
  text-align: center;
  font-size: 17px;
  padding: 8px 0;
}

.subTitle {
  display: flex;
  justify-content: space-between;
  padding-bottom: 3px;
  padding: 0 2px;
  padding-bottom: 3px;
}

.singleContent {
  position: relative;
}



.media.removing {
  opacity: 0; /* Hide the content smoothly when removing */
  height: 0; /* Collapse the height */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
  border: none; /* Remove border */
  transition: opacity 0.3s ease, height 0.3s ease, padding 0.3s ease, margin 0.3s ease, border 0.3s ease; /* Smooth transitions */
}


